<main class="main">
 <app-comp-sidebar></app-comp-sidebar>
  <div class="container">
    <div class="col6">
      <div class="row-md2">
        <div class="card ">

          <div class="box-content">
            <div class="box-heading ">
              <div class="box-title"> 
              </div>
            </div>
            </div>

          <!-- <div class="">
            <mat-toolbar mt>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                style="margin-left: -325px; margin-bottom: -3%;">
                <mat-icon>menu</mat-icon>
              </button>
            </mat-toolbar>
          </div>

          <div class="bgg">
            <div class="text">
              <section id="about text-center">
                <h1>Welcome To <b>Campus Recruitment System 2023-24</b></h1>
                <p style="color: black;">We here to glad you.</p>
              </section>
              <div class="texta">
                <p style="color: black;">We are thrilled to extend a warm and enthusiastic welcome to Infosys, a
                  trailblazing organization that has chosen our esteemed institution for collaboration and engagement.
                  As we embark on this exciting partnership, we look forward to</p>
                <p style="color: black;">a mutually enriching relationship that bridges the worlds of academia and
                  industry. Infosys brings with it a wealth of expertise, innovation, and a commitment to excellence
                  that aligns seamlessly with the values and aspirations of our</p>
                <p style="color: black;"> academic community. We are confident that the presence of Infosys on our
                  campus will not only provide invaluable opportunities for our students but will also foster an
                  environment of knowledge exchange and professional growth.</p>
                <p style="color: black;"> Together, we aim to create a dynamic platform where ideas flourish, skills are
                  honed, and meaningful connections are forged. We extend our heartfelt gratitude to Infosys for
                  choosing to be a part of our academic journey, and we eagerly </p>
                <p style="color: black;"> anticipate the exciting ventures that lie ahead.</p>
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>

</main>