<main class="main">
    <app-student-sidebar></app-student-sidebar>
    <div class="container">
        <div class="col6">
            <div class="row-md2">
                <div class="card ">
                    <div class="box-content">
                        <div class="box-heading ">
                            <div class="box-title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>